extends  ../layouts/main-layout.pug

block content
    h1 Parse XML using NodeJS
    p NhanVien detail !!!!

    div #{nhanVien}

    table
        tr
            th MaNV
            th TenNV
            th DiaChi
            th NgaySinh
            th GioiTinh
            th DanToc
            th TonGiao
            th CMND
        tr
            td #{nhanVien.MaNV[0]}
            td #{nhanVien.TenNV[0]}
            td #{nhanVien.DiaChi[0]}
            td #{nhanVien.NgaySinh[0]}
            td #{nhanVien.GioiTinh[0]}
            td #{nhanVien.DanToc[0]}
            td #{nhanVien.TonGiao[0]}
            td #{nhanVien.CMND[0]}
