extends  ../layouts/main-layout.pug

block content
    h1 Danh sách nhân viên:
    hr
    
    table
        tr
            th MaNV
            th TenNV
            th DiaChi
            th NgaySinh
            th GioiTinh
            th DanToc
            th TonGiao
            th CMND
            th
        each nhanVien in nhanViens
            tr
                td #{nhanVien.MaNV}
                td #{nhanVien.TenNV}
                td #{nhanVien.DiaChi}
                td #{nhanVien.NgaySinh}
                td #{nhanVien.GioiTinh}
                td #{nhanVien.DanToc}
                td #{nhanVien.TonGiao}
                td #{nhanVien.CMND}
                td
                    a.btn(href="/nhanviens/" + nhanVien.MaNV) Chi tiết