extends  ../layouts/main-layout.pug

block content
    h1 Thông tin về nhân viên #{nhanVien.TenNV}

    table
        tr
            th MaNV
            th TenNV
            th DiaChi
            th NgaySinh
            th GioiTinh
            th DanToc
            th TonGiao
            th CMND
        tr
            td #{nhanVien.MaNV}
            td #{nhanVien.TenNV}
            td #{nhanVien.DiaChi}
            td #{nhanVien.NgaySinh}
            td #{nhanVien.GioiTinh}
            td #{nhanVien.DanToc}
            td #{nhanVien.TonGiao}
            td #{nhanVien.CMND}
    br
    table
        tr 
            th MaCV
            th TenCV
            th PhuCap
        tr
            td #{chucVu.MaCV}
            td #{chucVu.TenCV}
            td #{chucVu.PhuCap}
    br
    table
        tr 
            th MaPB
            th TenPB
        tr
            td #{phongBan.MaPB}
            td #{phongBan.TenPB}
    br
    table
        tr 
            th MaHDLD
            th NgayBatDau
            th NgayKetThuc
            th HeSoLuong
        tr
            td #{hdld.MaHDLD}
            td #{hdld.NgayBatDau}
            td #{hdld.NgayKetThuc}
            td #{hdld.HeSoLuong}